<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="APITestSuite">
    <test name="ApiTests">
        <packages>
            <package name="ip.swagger.petstore.tests.userapis"/>
            <package name="ip.swagger.petstore.tests.petapis"/>
            <package name="ip.swagger.petstore.tests.storeapis"/>
        </packages>
    </test>
</suite>
